SECRET_KEY=""
ALGORITHM=""
ACCESS_TOKEN_EXPIRE_MINUTES=""
REFRESH_TOKEN_EXPIRE_DAYS=""
DATABASE_URL=""
FRONTEND_URL=""

MAIL_USERNAME=""
MAIL_PASSWORD=""
MAIL_FROM=""
MAIL_PORT=""
MAIL_SERVER=""
MAIL_FROM_NAME=""

# AI Configuration
GEMINI_API_KEY=""
AI_MODEL=""
